<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waste Collection</title>
    <link rel="stylesheet" href="/static/css/waste_collection.css">
</head>
<body>
    <script src="/static/js/common.js"></script>

    <!-- Page-Specific JS -->
    <script src="/static/js/waste_collection.js"></script>

    <div class="waste-collection-container">
        <h1>Waste Collection</h1>
        <form action="{{ url_for('waste_collection') }}" method="POST">
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" name="location" id="location" required>
            </div>

            <div class="form-group">
                <label for="waste_type">Waste Type</label>
                <select name="waste_type" id="waste_type" required>
                    <option value="">Select Waste Type</option>
                    <option value="Plastic">Plastic</option>
                    <option value="Paper">Paper</option>
                    <option value="Metal">Metal</option>
                    <!-- <option value="LOVE">LOVE</option> -->
                    <option value="Glass">Glass</option>
                    <option value="Organic">Organic</option>
                    <option value="E-Waste">E-Waste</option>
                    <option value="Textiles">Textiles</option>
                    <option value="Food">Food</option>
                    <option value="Medical">Medical</option>
                    <option value="Wood">Wood</option>
                    <option value="Other">Other (Manual Entry)</option>
                   
                </select>
            </div>

            <div class="form-group" id="other-waste-type" style="display:none;">
                <label for="other_waste">Please specify the waste type:</label>
                <input type="text" name="other_waste" id="other_waste">
            </div>

            <div class="form-group">
                <label for="weight">Weight (kg)</label>
                <input type="number" name="weight" id="weight" required min="1">
            </div>

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>

    <script>
        // Show/Hide the input for 'Other' waste type based on selection
        document.getElementById('waste_type').addEventListener('change', function() {
            var otherWasteInput = document.getElementById('other-waste-type');
            if (this.value === 'Other') {
                otherWasteInput.style.display = 'block';
            } else {
                otherWasteInput.style.display = 'none';
            }
        });
    </script>
</body>
</html>
